<div class="header"><h1 class="slidetitle">Customized at partman_early</h1></div>

<div class="main">

<div class="text">

<div>
<p>What's fun is we can have another chef run later!. Both of the runs so far have happened BEFORE we partition, so we could modiy the install based on hardware. If we ran chef-client instead, our node being saved to the chef-server could make this node (at the initrd or partitioning state) available for role selection.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
