<div class="header"><h1 class="slidetitle">Welcome to Ubuntu 12.04 LTS Customized</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>This has been customized in the initrd early phase.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
