<div class="header"><h1 class="slidetitle">Instant Infrastructure from Scratch</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>This demo is not using a server, but it could. Even making itself available to others.
</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
